:root {
  --cor-primaria: #D9D9D9;
  --cor-secundaria: #BFBFBF;
  --cor-terciaria: #949494;
  --cor-quarta: #494949;
}

*{
    background-color: var(--cor-primaria);
    margin: 0;
    width: auto;
    height: auto;
}

#top{
    height: 70px;
    width: auto;
    align-content: center;
}


#beside{
    background-color: var(--cor-terciaria);
    height: 100vh;
    width: 290px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#books{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    background-color: var(--cor-primaria);
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#center{
    display: flex;
}

#input-file{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
}

#input-file.open{
    opacity: 1;
    z-index: 999;
}

#down{
    background-color: var(--cor-quarta);
    color: white;
    width: auto;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
}

.perfil{    
    height: 70px;
    display: flex;
    background-color: var(--cor-secundaria);
    flex-direction: row;
    justify-content: space-between;
}

    .perfil-left{
        display: flex;
        align-items: center;
        background-color: var(--cor-secundaria);
    }

    .perfil-img-logo{
        width: auto;
        height: 35px;
        transform: scale(1.9);
        background-color: var(--cor-secundaria); 
    }

    .perfil-img-logo:hover{
            transform: scale(2.0);
        }

    .perfil-button{
        border: none;
        background-color: var(--cor-secundaria); 
        border: none;
        color: white;
        font-size: 25px;
        padding-left:40px;
        padding-right: 100px;
    }

    .perfil-right{
        display: flex;
        background-color: var(--cor-secundaria);
        align-items: center;
    }

    .perfil-img{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin: 10px;
    }

    .perfil-p{
        font-size: 25px;
        color: white;
        background-color: var(--cor-secundaria);
        padding-left: 20px;
        padding-right: 40px;
    }


.back{
    justify-items: left;
    background-color: var(--cor-secundaria); 
}



.button-beside-a{
    width: 290px;
    height: 40px;
    color: white;
    background-color: var(--cor-terciaria);
    border: none;
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-beside-b{
    width: 290px;
    height: 40px;
    color: white;
    background-color: var(--cor-secundaria);
    border: none;
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-beside-a:hover, .button-beside-b:hover{
    transform: scale(1.02);
    opacity: 90%;
}

.input-beside{
    display: none;
}

.input-files{
    background-color: var(--cor-terciaria);
}

.file{
    background-color: var(--cor-terciaria);
    color: white;
}

.book{
    image-orientation: unset;
    margin-right: 60px;
    margin-top: 50px;
    padding: 0;
}

.book-img{
    width: 100px;
    height: 150px;
}

.book:hover{
    transform: scale(1.2);
}

.p-books{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    display: flex;
    color: var(--cor-quarta);
}

.box-down{
    background-color: var(--cor-quarta);
    padding-right: 50px ;
}

.h3-down{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--cor-quarta);
    padding-top: 20px;
    padding-left: 15px;
}

.text-down{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    background-color: var(--cor-quarta);
    padding-top: 10px;
    padding-left: 15px;
}

.mensage-down{
    background-color: var(--cor-quarta);
    padding-bottom: 10px;
    padding-left: 50%;
    color: var(--cor-secundaria);
}

.link-a{
    background-color: var(--cor-secundaria);
    color: white;
    text-decoration: none; 
}